body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.game-board {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.row {
    display: flex
}

.cell {
    width: 80px;
    height: 80px;
    border: 1px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-sizing: border-box;
}

.cell:hover {
    background-color: #f0f0f0;
}

.top {
    border-top: none;
    -webkit-border-top: none; /* Safari and Chrome */
    -moz-border-top: none; /* Firefox */
    -ms-border-top: none; /* IE */
    -o-border-top: none; /* Opera */
}

.bottom {
    border-bottom: none;
    -webkit-border-bottom: none; /* Safari and Chrome */
    -moz-border-bottom: none; /* Firefox */
    -ms-border-bottom: none; /* IE */
    -o-border-bottom: none; /* Opera */
}

.right {
    border-right: none;
    -webkit-border-right: none; /* Safari and Chrome */
    -moz-border-right: none; /* Firefox */
    -ms-border-right: none; /* IE */
    -o-border-right: none; /* Opera */
}

.top.left {
    border-top: none;
    -webkit-border-top: none; /* Safari and Chrome */
    -moz-border-top: none; /* Firefox */
    -ms-border-top: none; /* IE */
    -o-border-top: none; /* Opera */

    border-left: none;
    -webkit-border-left: none; /* Safari and Chrome */
    -moz-border-left: none; /* Firefox */
    -ms-border-left: none; /* IE */
    -o-border-left: none; /* Opera */
}

.top.right {
    border-top: none;
    -webkit-border-top: none; /* Safari and Chrome */
    -moz-border-top: none; /* Firefox */
    -ms-border-top: none; /* IE */
    -o-border-top: none; /* Opera */

    border-right: none;
    -webkit-border-right: none; /* Safari and Chrome */
    -moz-border-right: none; /* Firefox */
    -ms-border-right: none; /* IE */
    -o-border-right: none; /* Opera */

}

.bottom.left {
    border-bottom: none;
    -webkit-border-bottom: none; /* Safari and Chrome */
    -moz-border-bottom: none; /* Firefox */
    -ms-border-bottom: none; /* IE */
    -o-border-bottom: none; /* Opera */

    border-left: none;
    -webkit-border-left: none; /* Safari and Chrome */
    -moz-border-left: none; /* Firefox */
    -ms-border-left: none; /* IE */
    -o-border-left: none; /* Opera */
}

.bottom.right {
    border-bottom: none;
    -webkit-border-bottom: none; /* Safari and Chrome */
    -moz-border-bottom: none; /* Firefox */
    -ms-border-bottom: none; /* IE */
    -o-border-bottom: none; /* Opera */

    border-right: none;
    -webkit-border-right: none; /* Safari and Chrome */
    -moz-border-right: none; /* Firefox */
    -ms-border-right: none; /* IE */
    -o-border-right: none; /* Opera */
}

.message {
    font-weight: bold;
}